.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.idea/gradle.xml
*.idea/jarRepositories.xml
*.idea/misc.xml
*.idea/sonarlint/issuestore
*.idea/compiler.xml
*/libraries/
*.idea/workspace.xml
*.iws
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/
### Mac OS ###
.DS_Store